*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


#container{

    width: 50%;
    margin: 60px auto;
    border: 0px solid gray;
 border-radius: 10px;
    background-color: bisque;
    box-shadow: 0 0 5px gray;
    background-image: linear-gradient(rgb(184, 138, 184) , rgb(236, 201, 207),rgb(214, 214, 243),orange);
}
h1{
    font-size: 40px;
  padding-top: 7%;
    text-align: center;
}

.card{
    display: flex;
    flex-direction: column;
    padding:20px 35px 0 35px;
    font-size: 25px;
}

select{

    padding: 10px;
    font-size: large;
    color: blue;
    border: none;
}

label{
    margin-bottom: 5px;
}

textarea{
    resize: none;
    width: 96%;
    border: none;
    height: 120px;
}

#textel{
    display:grid;
    margin-left: 37px;
    margin-top: 20px;
    font-size: 25px;
}

#save{
margin-left: 37%;
margin-top:5% ;  
margin-bottom: 5%; 
font-size: 30px;
width: 25%; 
height: 70px; 
background-color: rgb(68, 68, 77);
color: white;
border-radius: 5px;
}

