*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    padding: 25px;
    color: rgb(78, 76, 76);
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border:  solid gray;
    border: none;
    width: 45%;
border-radius: 5px;
box-shadow: -1px 2px 5px  2px rgb(201, 196, 196);
color: rgb(78, 76, 76);

}

#container h1{
    padding-top: 30px;
    position: relative;
    right: 230px;
}



#card{
    width: 90%;
    border-top: 2px solid rgba(219, 214, 214, 0.521);
    padding-top: 8px;
}

#card{
    width: 90%;
    border-bottom: 2px solid rgba(219, 214, 214, 0.521);
    padding-bottom: 8px;
}

#password{
    
    text-align: center;
    resize: none;
    border: 2px dashed rgb(209, 206, 206);
    border-radius: 5px;
     width: 100%;
    font-size: larger;
    padding: 10px 50px 80px 0;
}

button{
    padding: 15px;
    font-size: larger;
    cursor:pointer;
    border-radius: 25px;
    border: none;
    margin-top: 25px;
    margin-bottom: 50px;
    background-color: rgb(167, 60, 60);
    color: white;
    width: 100%;
}

#button1{
    width: 30%;

}
